{% extends "base.html" %}

{% block content %}
<h1 class="mt-3 ">ངོ་སྤྲོད།</h1>
<hr>
<p>
    ཟུར་སྦྱོང་ནི་ས་མཐའི་རྒྱང་ཐག་བཅད་པའི་བོད་རིགས་དགེ་རྒན་དང་སློབ་མའི་བར་གྱི་བོད་ཀྱི་སྐད་ཡིག་གཙོས་པའི་སློབ་ཚན་འགའ་ཞིག་ཐོག་ལེགས་བཤད་སྤེལ་བའི་འབྲེལ་ཐུད་་བྱ་ཡུལ་གྱི་གླེང་སྟེགས་ཞིག་ཡིན། ད་ལྟའི་འཆར་ང་ཚོའི་གླེང་སྟེགས་འདིར་བོད་ཀྱི་སྐད་ཡིག་དང་ཨང་རྩིས།  དེ་བཞིན་བརྙན་ཆས་བཟོ་བསྒྲིགས་བཅས་ཀྱི་སློབ་ཁྲིད་དགེ་རྒན་གྱི་མཐུན་རྐྱེན་སྦྱར་བཞིན་ལགས་ན།
</p>
<p>
    དེས་སློབ་ཕྲུག་ལ་ཆ་མཚོན་ན་ཟུར་སྦྱོང་གླེང་སྟེགས་དེ་ཡི་རྒྱུད་བོད་རིགས་དགེ་རྒན་མང་དག་ཅིག་བསྟེན་ཐུབ་པ་དང་། མ་ཟད་སློབ་ཡོན་ཡང་ཐད་ཀར་སྤྲོད་ཐུབ་པའི་མཐུན་རྐྱེན་ཡང་བསྐྲུན་ཡོད། དགེ་རྒན་ཁག་ལའང་ཆ་མཚོན་ན་སོ་སོའི་སློབ་ཁྲིད་བྱ་རྒྱུའི་སློབ་ཚན་དམངས་ལ་ཁྱབ་བསྒྲགས་དང་། སློབ་ཡོན་ཐད་ཀར་སྒེར་གྱི་དངུལ་ཁང་ནང་འབྱོར་བའི་མཐུན་རྐྱེན་བསྐྲུན་ཡོད།

</p>
<p>
    སླད་མར་དྲ་ལམ་འདི་ཡར་རྒྱས་དང་རྒྱུན་ཁྱོངས་སླད་ཆུ་ཚོད་གཅིག་གི་སློབ་ཡོན་ནས་བརྒྱ་ཆ་ཉུང་ཤས་ཤིག་ལེན་གྱི་ཡོད་ལ། དེ་ཡང་དགེ་རྒན་ལ་སློབ་ཡོན་ནས་བརྒྱ་ཆ་ཉི་ཤུའམ་ཨ་སྒོར་གཉིས་ལས་གང་ཆེ་བ་ཡོད་ན་ལེན་རྒྱུ་དང་། སློབ་ཕྲུག་ལ་སློབ་ཡོན་བརྒྱ་ཆ་བཅུའམ་ཨ་
    སྒོར་གཅིག་ལས་གང་རིན་པ་ཆེ་བ་ཡོད་པ་དེ་ལེན་རྒྱུ་བཅས་སོ།།
</p>
<h1 class="mt-3 ">About Us</h1>
<hr>
<p>
    Zurjong is a personalized community platform serving Tibetan tutors and students interested to learn the Tibetan language and other subjects.
    As of now, we have tutors teaching the <strong>Tibetan language, Math, and Coding.</strong>

</p>
<p>
    For students,  we are providing a one-stop solution for searching tutors from the Tibetan community and making hassle-free payments to your tutor.
</p>
<p>
    For tutors residing in India, we are providing services promoting their tutoring service and automated scheduling class.
    We handle the receiving of payments from your students and credit them to your account.
</p>
{% comment %} <p>
    For sustaining the website and making the service for both end more frictionless in the near future, we are charging a minimal percentage from the transactions.
    For tutors, we will be charging <strong>per hour- 20% of the hourly charge or $2 whichever is greater.</strong>
    For students, we will be charging <strong>per hour- 10% of the hourly charge or $1 whichever is greater.</strong>
</p> {% endcomment %}

{% endblock %}