{% extends "base.html" %}

{% block title %}བོད་ཡིག{% endblock %}

{% block content %}
<h1 class="mt-3 ">Tibetan Section</h1>
<hr>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Learn Tibetan Typing</h5>
        <p class="card-text">Want learn Tibetan typing or improve your tpying speed?</p>
        <a href="#" class="btn btn-primary disabled">Coming Soon</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Tibetan Proverbs</h5>
        <p class="card-text">Want to learn new Tibetan proverb and use it on daily conversation?</p>
        <a href="#" class="btn btn-primary disabled">Coming Soon</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Learn Bhuddism</h5>
        <p class="card-text">Explore our curated list of teaching from YouTube</p>
        <a href="#" class="btn btn-primary disabled">Coming Soon</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Tibetan Diaspora Lifestyle</h5>
        <p class="card-text">Explore the lifestyle of Tibetan in diaspora</p>
        <a href="#" class="btn btn-primary disabled">Coming Soon</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}